:root {
  --primary01: #713d3d;
  --primary02: #b87878;
  --primary03: #dbb5b5;
  --primary04: #f1e5d1;

  --white: #fbfbfb;

  --text01: #65737e;
  --text02: #184568;
  --text03: #a0a7ad;

  --bg: #f4eee4;
}

* {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Slab", serif;
}

.btn-custom {
  background-color: var(--primary02);
  color: var(--white);
  padding: 10px 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-custom:hover {
  background-color: var(--primary01);
  color: var(--white);
}

.text_shadow {
  color: var(--primary01) !important;
  font-family: "Roboto Slab", serif;
  text-shadow: 1px 1px 2px rgb(69, 68, 68);
}

.heading_line::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background-color: var(--primary01);
  margin: 8px auto 0;
}

/* ---------------------------------- Navbar ----------------------------------  */
.navbar {
  padding: 10px 0;
  background-color: var(--primary04);
}

.navbar .navbar-nav .nav-item {
  line-height: 60px;
  width: 180px;
  text-align: center;
}

.navbar .navbar-nav .navbar-brand {
  width: 250px;
  text-align: center;
  margin-right: 0px;
}

.navbar .navbar-nav .nav-item .active {
  color: var(--primary01);
}

.navbar .navbar-nav .nav-link {
  color: var(--primary02);
}

.navbar .navbar-nav .nav-item a:hover {
  color: var(--primary01);
}

/* ---------------------------------- Introduction ----------------------------------  */
.intro {
  padding: 60px 0;
  background-image: url("./images/circles.png");
  background-repeat: no-repeat;
}

.row {
  display: flex;
  align-items: center;
}

.introduce_section {
  text-align: left;
  border: 1px solid var(--primary01);
  border-radius: 15px;
  padding: 40px 50px;
}

.introduce_section .greet {
  color: var(--text01);
}

.introduce_section .role {
  color: var(--text03);
  margin-bottom: 25px;
}

.introduce_section .objective {
  color: var(--text02);
  margin-bottom: 20px;
}

.profile_img {
  text-align: center;
}

#typing {
  display: inline-block;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  font-size: 2.5rem;
  vertical-align: middle;
}

.typed-cursor {
  font-size: 2.5rem;
  line-height: 1.2;
  color: var(--primary01);
  vertical-align: middle;
}

/* ---------------------------------- About ----------------------------------  */
.about {
  padding: 60px 0;
  background-color: var(--bg);
}

.about h2 {
  color: var(--text01);
  position: relative;
  margin-bottom: 40px;
}

.about .content {
  text-align: left;
  color: var(--text02);
}

.about .content p {
  line-height: 28px;
}

/* ---------------------------------- ExpertAreas ----------------------------------  */
.expert {
  padding: 60px 0;
  background-image: url("./images/circles3.png");
  background-repeat: no-repeat;
}

.expert h2 {
  color: var(--text01);
  position: relative;
  margin-bottom: 40px;
}

.expert .skills {
  background-color: var(--bg);
  width: 700px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.list-inline {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.list-inline li {
  flex: 1 1 45%;
  margin-bottom: 10px;
  min-width: 200px;
  color: var(--text02);
}
.expert .tools {
  background-color: var(--bg);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.expert .tools img {
  margin-bottom: 10px;
}

/* ---------------------------------- Portfolio ----------------------------------  */
.portfolio {
  padding: 60px 0;
  background-color: var(--bg);
  text-align: center;
}

.portfolio h2 {
  color: var(--text01);
  position: relative;
  margin-bottom: 40px;
}

.filters {
  margin-bottom: 20px;
}

.filter-btn {
  padding: 10px 20px;
  border: 1px solid var(--primary01);
  background-color: var(--white);
  color: var(--primary01);
  cursor: pointer;
  margin: 0 10px;
  border-radius: 7px;
  margin-bottom: 20px;
}

.filter-btn.active,
.filter-btn:hover {
  background-color: var(--primary01);
  color: white;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-item {
  width: 200px;
  margin: 15px;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
}

.project-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.project-title {
  margin-top: 10px;
  font-weight: bold;
}

.pagination {
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}

.page-btn {
  padding: 10px 15px;
  border: 1px solid var(--primary01);
  background-color: var(--white);
  color: var(--primary01);
  cursor: pointer;
  margin: 0 5px;
  border-radius: 7px;
}

.page-btn.active,
.page-btn:hover {
  background-color: var(--primary01);
  color: var(--white);
}

.page-numbers {
  margin: 0 10px;
  line-height: 45px;
}

.portfolio a {
  text-decoration: none !important;
  color: var(--text02);
}

/* ---------------------------------- Contact ----------------------------------  */
.contact {
  background-image: url("images/circles.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact h2 {
  margin-bottom: 40px;
  color: var(--text01);
}
.contact .card {
  background-color: var(--bg);
  color: var(--text02) !important;
}

.contact h4 {
  font-weight: 400;
  margin-bottom: 40px;
}

.contact a.d-flex.flex-column.align-items-center img {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin-top: 10px;
}

.contact a.d-flex.flex-column.align-items-center span {
  margin-top: 2px;
  font-size: 14px; /* Adjust the font size as needed */
}

.divider {
  height: 1px;
  width: 80%;
  background-color: gray;
  margin: 0 auto;
  opacity: 0.5;
  margin-top: 30px;
  margin-bottom: 20px;
}

.contact .row {
  align-items: start;
}

/* ---------------------------------- Footer ----------------------------------  */
.footer {
  background-color: var(--bg);
  padding: 8px 0;
}
.footer p {
  margin: 0;
  color: var(--text02);
  font-size: 14px;
  opacity: 0.6;
}

/* ---------------------------------- MediaQuery ----------------------------------  */
@media (width < 992px) {
  .navbar {
    padding: 10px;
  }

  .navbar .navbar-nav .nav-item {
    margin-top: 10px;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    border: 1px solid var(--primary03);
    line-height: 20px;
    border-radius: 5px;
  }

  .navbar .navbar-nav .nav-item:hover,
  .navbar .navbar-nav .active-item {
    border: 1px solid var(--primary01);
    border-radius: 5px;
  }

  .introduce_section {
    padding: 30px 20px;
  }

  #typing,
  .typed-cursor {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .introduce_section .role {
    margin-bottom: 15px;
  }

  .intro {
    padding: 60px 0;
  }

  .profile_img img {
    width: 280px;
  }

  .expert .skills {
    width: initial;
  }
}

@media (width <= 767px) {
  .intro {
    padding: 40px 0;
    background-image: url("./images/circles2.png");
  }
  .img_circle img {
    width: 150px;
    margin-bottom: 30px;
  }

  .about {
    padding: 40px 0;
  }

  .filter-btn {
    margin-bottom: 20px;
  }
}

@media (width <= 425px) {
  .navbar-brand img {
    width: 135px;
  }

  .about h2 {
    margin-bottom: 30px;
  }
  #typing,
  .typed-cursor {
    font-size: 1.4rem;
    margin-bottom: 5px;
  }

  .introduce_section .role {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .list-inline li {
    flex: 1 1 100%; /* One item per row */
  }
  .phone_email {
    margin-left: 0;
  }
}

@media (width < 375px) {
  .expert .tools,
  .expert .skills {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* ---------------------------------- Project Details ----------------------------------  */
.readMeCard {
  background-color: var(--bg);
}
.readMeCard h1,
h2,
h3,
h4,
h5 {
  color: var(--text01);
}

.readMeCard p {
  color: var(--text02);
}
